$primary-color-dark=   #0097A7
// $primary-color=        #00BCD4
// $primary-color-light=  #B2EBF2
// $primary-color-text=   #FFFFFF
// $accent-color=         #FF9800
// $primary-text-color=   #212121
// $secondary-text-color= #757575
// $divider-color=        #BDBDBD


// https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/app/style/config.styl
$accentColor = $primary-color-dark
$textColor = #666
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
